@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <div class="side-menu col-3">
        <h3>Подключенные ленты</h3>
        <form>
            @foreach (var feed in ViewBag.Feeds)
            {
                <script type="text/javascript">
                            var parser = document.createElement('a');
                            parser.href = "@feed.Url";
                </script>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked="@feed.MustBeShown" id="@feed.Url">
                    <label class="custom-control-label" for="@feed.Url">
                        <script type="text/javascript">
                            document.write(parser.hostname)
                        </script>
                    </label>
                </div>

            }
            <br />
            <button type="submit" class="btn btn-primary">Применить</button>
        </form>
        
    </div>

<div class="col-9 content">
    @foreach (var post in ViewBag.Posts)
    {
        <h3><a href="@post.Link"  target=»_blank»>@post.Title</a></h3>
        if (post.PublicationDate != DateTime.MinValue)
        {
            <div class="col-12">Дата публикации: @post.PublicationDate.ToString(@*"d"*@)</div>
        }
        else
        {
            <div class="col-12">Дата публикации: Ошибка чтения даты</div>
        }
        <div class="col-12">
            @if (ViewBag.UseTags)
            {
                @Html.Raw(post.Description);
            }
            else
            {
                @post.Description;
            }
        </div>
        <br /><br /><br />
    }
</div>