@{  
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <div class="side-menu col-3">
        <h3>Подключенные ленты</h3>
        <form method="post" action="~/Home/ConfigureFeed">
            @foreach (var feed in ViewBag.Feeds)
            {
                <script type="text/javascript">
                            var parser = document.createElement('a');
                            parser.href = "@feed.Url";
                </script>
                <div class="custom-control custom-checkbox">
                    @if (feed.MustBeShown)
                    {
                        <input type="checkbox" class="form-check-input" checked="checked" name="@feed.Url" id="@feed.Url">
                    }
                    else
                    {
                        <input type="checkbox" class="form-check-input"  name="@feed.Url" id="@feed.Url">
                    }
                    <label class="form-check-label" for="@feed.Url">
                        <script type="text/javascript">
                            document.write(parser.hostname)
                        </script>
                    </label>
                </div>

            }
            <br />
            <button type="submit"  class="btn btn-outline-primary">Edit</button>
        </form>
        
    </div>

    <div class="col-9 content">
        @foreach (var post in ViewBag.Posts)
        {   
            //генерируем хеш-код по куску имени для создания уникального id, который используется для работы collapse-модулей из bootstrap
            string strForId = @post.Title;
            if (strForId.Length > 20)
                strForId = strForId.Substring(0, 20);
            strForId = "qwe" + strForId.GetHashCode();//лучше заменить это говно!

            <h3><a href="@post.Link" class="post-title" target=»_blank»>@post.Title</a></h3>
            if (post.PublicationDate != DateTime.MinValue)
            {
                <div class="col-12 post-date">Дата публикации: @post.PublicationDate.ToString(@*"d"*@)</div>
            }
            else
            {
                <div class="col-12 post-date">Дата публикации: Ошибка чтения даты</div>
            }
            
            <div class="col-12 post-description" id="@strForId">
                @if (ViewBag.UseTags)
                {
                    @Html.Raw(post.Description);
                }
                else
                {
                    @post.Description;//удалить теги
                }
            </div>
        }

    </div>